body, html{
        width: 100%;
        height: 100%;
        display: flex;
        flex: auto;
        margin: 0px;
        font-family: 'Courier New', Courier, monospace;
}

.title-text {
        position: absolute;
        top: 0%;
        width: 100%;
        color: white;
        font-size: 50px;
        text-shadow: 2px 2px #000;
        text-align: center;
        z-index: 1;
}

/* Footer Bar */
.footer {
        width: 100%;
        background-color: darkslategray;
        color: white;
        height: 50px;
        position: fixed;
        bottom: 0;
        text-align: center;
}

.container {
        height: 100%;
        background-color: azure;
        padding: 40px;
        border: 1px;
        border-style: solid;
}

